*~
diff
diff.c
WWW
Cache
fil
fil.c
test.c
stderr
stdout
wget-log*
index.html*
package-lock.json
node_modules

# - binaries
*.x
a.out
Graphics/font8x8/render

# - copyrighted can't checkin
Tests/yesco.org
Tests/tables-advanced.moz
Tests/runeberg.org
Tests/lysator.liu.se
Tests/ibm.com
Tests/html.com.tables
Tests/google.com
Tests/forth.org
Tests/*.com
Tests/*.org
Tests/*.se
Tests/*.simple

# - data files
.wlog
.whistory
.wlinks
.*.c
.stdout
.stderr
